<section class="posts">
    <% for (let i = 0; i < tweets.length; i++) { %>
    <article class="post">
        <div class="post_profile-image">
            <img src="/images/avatars/<%= tweets[i].handle %>.png" alt="java-logo">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="post_header-text">
                    <h3><%= tweets[i].name %>
                        <span class="header-icon-section">
                            <a href="/<%= tweets[i].handle %>">@<%= tweets[i].handle %></a>
                        </span>
                    </h3>
                </div>

                <div class="post_header-description">
                    <%= tweets[i].text %>
                </div>
                
            </div>
            <div class="post_footer">
                <span class="material-icons">chat</span>
                <span class="material-icons">repeat</span>
                <span class="material-icons">favorite_border</span>
                <span class="material-icons">file_upload</span>
            </div>

        </div>

    </article>
    <% } %>
</section>