<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Pokemons</title>
</head>
<body>
    <p>Name: <%= pokemonName %></p>
    <p>Id: <%= pokemonId %></p>
    <p>Weight: <%= pokemonWeight %></p>
    <img src="<%= pokemonFront %>">
    <img src="<%= pokemonBack %>">
</body>
</html>