    <%- include("partials/header") %>
    <%- include("partials/nav") %>
    <main style="position: relative">
        <div class="header">
            <h2><%= profile.name %></h2>
        </div>

        <img class="profile_banner" src="/images/banners/<%= profile.handle %>.png"/>
        <img class="profile_avatar" src="/images/avatars/<%= profile.handle %>.png"/>
        <section class="profile">
            <div class="profile_name"><%= profile.name %></div>
            <div class="profile_handle"><%= profile.handle %></div>
            <div class="profile_bio"><%= profile.bio %></div>
        </section>
        <%- include("partials/tweets") %>
    </main>
    <%- include("partials/aside") %>
</body>
</html>